.ArticleHeader {
  padding: 30px 40px 15px;
  border-bottom: 1px solid #63bcdc;
  color: #23a6d5;
  background: #f0f9fc;
}

.ArticleHeader {
  h1 {
    font-size: 2.2em;
    margin: 0 0 15px;
  }

  p {
    color: darken(#23a6d5, 11);
    max-width: 680px;
    margin: 0 0 10px;
  }
}

.ArticleContent {
  max-width: 680px;
  padding: 10px 40px 30px;

  h2 {
    margin: 0 0 .5em 0;
    padding-top: 20px;
    color: mix(#23a6d5, black, 77%);
    font-size: 1.7em;
  }
}

.Article hr {
  width: 976px;
  margin: 30px 0 20px -40px;
  border: 0;
  height: 1px;
  background: #63bcdc;
}

.Notice {
  border-radius: 4px;
  border: 1px solid #e0dec8;
  margin: 1.5em 0;
  background: #fcfbf0;
  color: #706f64;
  padding: 10px 15px;
}
