.ArticleHeader {
  padding: 20px 40px;
  border-bottom: 1px solid #63bcdc;
  color: #23a6d5;
  background: #f0f9fc;
}

.ArticleHeader {
  h1, p {
    max-width: 680px;
  }
}

.ArticleContent {
  max-width: 680px;
  padding: 20px 40px;
}

.Article hr {
  width: 976px;
  margin: 60px 0 60px -40px;
  border: 0;
  height: 1px;
  background: #63bcdc;
}

.Notice {
  border-radius: 4px;
  border: 1px solid #e0dec8;
  margin: 1em 0 2em;
  background: #fcfbf0;
  color: #706f64;
  padding: 12px 16px;
}
