@mixin wrapper {
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
}

.Main {
  @include wrapper;
  position: relative;
  padding: 0 0 0 180px;
  background: white;
}

.MainContent {
  padding: 32px 0 0 39px;
  border-left: 1px solid $grey-blue-light;
}

.Header {
  position: relative;
  background: $grey-blue-dark;
}

.Wrapper {
  @include wrapper;
}

.HeaderInner {
  height: 52px;
  padding: 8px 20px;
}

.Logo {
  margin: 8px 0;
}

.HeaderLocation {
  background: $grey-blue-light;
  padding: 12px 20px;
  color: $grey-blue-dark;
  font-size: .875em;
  font-weight: bold;
}

.PageHeader {
  margin: 0 0 32px 0;
  color: mix($font-color-note, $blue, 80%);

  p {
    width: 640px;
    line-height: 1.4em;
    margin: 0;
    font-size: 1.1em;
  }
}

.PageTitle {
  line-height: 1em;
  margin: 0 0 .2em 0;
  color: $font-color-heading;
  font-size: 2.4em;
}

.Page {
  margin-bottom: 64px;
  width: 720px;

  p, ul, ol, dl {
    margin: 0 0 1em;
    line-height: 1.5em;
  }

  hr {
    position: relative;
    height: 1px;
    margin: 48px auto;
    border: 0;
    background: $grey-blue-light;
  }

  table {
    margin: 0 0 2em;
    width: 100%;
    line-height: 1.5em;
    font-size: .875em;

    th {
      text-align: left;
      color: $font-color-note;
    }

    th, td {
      vertical-align: top;
      padding: 8px 24px 8px 0;
      border-bottom: 1px solid $border-color-light;
    }
  }
}

.Notice {
  $notice-color: adjust-hue($blue-light, -195deg);
  margin: 2em 0;
  padding: 0 1.5em;
  border: 1px solid darken($notice-color, 5);
  border-radius: 4px;
  background: $notice-color;
  color: desaturate(darken($notice-color, 40), 40);

  width: 640px;

  p {
    margin: 1em 0;
    line-height: 1.4em;
  }
}

.ObjectAttributes {
  margin: 0 0 64px 0;
}

.SectionTitle {
  margin: 0 0 .7em;
  font-size: 1em;
  font-weight: bold;
  color: $font-color-sub-heading;
}

#table-of-contents {
  & + ul {
    list-style: none;
    padding: 0;
    font-size: 1em;
    background: white;
  }
}

.Footer {
  margin: 0 auto;
  padding: 0 0 64px;
  color: #a8a8a8;
  font-size: .875em;

  a {
    display: inline-block;
    margin: 0 0 0 1em;
  }
}

.QueryHighlight {
  border-radius: 4px;
  background: mix(white, #ffff00, 60%);
}
