.Header {
  height: 70px;
  width: 100%;
  padding-top: 2px;
  margin: 0 0 30px;
  background: #8aedfe;
  background: linear-gradient(to right, #d4f4fe 0%, #9ae5fd 20%, #8aedfe 40%, #abe4fe 60%, #86fecf 80%, #6bebfd 100%);
}

.HeaderNavigation {
  height: 38px;
  padding: 16px 20px;
  background: #3e545b;
}

.Login {
  position: absolute;
  top: 0;
  right: 0;
  color: #c8dae0;
  padding: 6px 12px;
  border-radius: 8px;
  background: #3e545b;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;

  span {
    position: relative;
    top: -1px;
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #60c0e1;
    vertical-align: middle;
    margin-right: 5px;
  }

  &:hover {
    color: white;
    background: darken(#3e545b, 10);
  }
}

.Wrapper {
  position: relative;
  margin: 0;
}

.Main {
  position: relative;
  padding: 0 0 0 220px;
  margin: 0 auto 20px;
}

.Footer {
  margin-bottom: 80px;
  padding-left: 220px;
  color: #a8a8a8;
  font-size: .875em;

  a {
    display: inline-block;
    margin: 0 0 0 1em;
  }
}
