code {
  background: #e1f6fc;
  color: #147ca8;
  padding: 2px 4px;
  border-radius: 4px;
}

pre code {
  margin: 0 0 40px 0;
  padding: 16px 40px;
  display: block;
  white-space: pre;
  font-family: "InconsolataMedium", monospace;
  font-size: 16px;
  border-radius: 0;
}

.highlight {
  border-left: 0;
  border-right: 0;
  background: #242b2e;
  color: #e6eff2;
  overflow: auto;
}

.plaintext {
  color: #a9e8fc;
}

// Comment
.c1 {
  color: #9aa1a4;
}

// Constants
.no, .nf {
  color: #cca9fc;
}

// Ruby method call
.ruby .nf {
  color: #e6eff2;
}

// Symbol
.ss {
  color: #47efd3;
}

// String
.s2, .s {
  color: #a9e8fc;
}

// Number & Boolean
.mi, .m, .kc, .kp, .k, .kd {
  color: #1ec5fc;
}
