.Nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  padding: 32px 0;
  text-align: left;

  h2 {
    font-size: .70em;
    font-weight: bold;
    text-transform: uppercase;
    color: $blue;
    margin: 0;
    padding: 6px 8px;
  }

  ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
    text-decoration: none;
    padding: 6px 8px;
    line-height: 1em;
    margin: 0 0 1px;
    color: #878787;
    font-size: .875em;
    border-radius: 4px 0 0 4px;
  }

  a:hover {
    background: linear-gradient(to right, $blue-light, $turquoise-light);
    color: mix(black, $blue, 20%);
  }

  a.Current {
    background: $blue;
    background: linear-gradient(to right, $blue, $turquoise);
    color: white;
  }
}

.NavInner {
  padding: 0 0 30px;
}
