.Nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  padding: 0;

  h2 {
    font-size: .70em;
    font-weight: bold;
    text-transform: uppercase;
    color: $blue;
    margin: 0;
    padding: 5px 10px;
  }

  ul {
    margin: 0 0 20px;
    padding: 0 0px 0 0;
    list-style: none;
  }

  a {
    display: block;
    text-decoration: none;
    padding: 0 10px;
    line-height: 2em;
    margin: 0 0 2px;
    color: #878787;
    font-size: .875em;
    border-radius: 4px 0 0 4px;
  }

  a:hover {
    background: mix(white, $blue, 90%);
    color: mix(#878787, $blue);
  }

  a.Current {
    background: linear-gradient(to right, $green, $blue);
    color: white;
  }
}

.NavInner {
  padding: 15px 0 30px;
}
