.SearchBox {
  position: fixed;
  margin: 0 0 0 -320px;
  width: 640px;
  top: 72px;
  left: 50%;
  padding: 8px 0;
  border-radius: 4px;
  background: white;
  box-shadow: 0 2px 6px rgba(black, .4);

  input {
    width: 608px;
    padding: 8px 16px;
    border: 0;
    font-size: 2em;
  }

  input:focus {
    outline: none;
  }
}

.SearchResults {
  overflow: auto;
  max-height: 384px;
}

.SearchResult {
  display: block;
  overflow: hidden;
  color: $font-color-body;
  padding: 8px 16px;

  &:hover {
    background: $blue;
  }

  .SearchResultTitle {
    display: block;
    font-size: 1.3em;
    color: $blue-dark;
  }

  &:hover .SearchResultTitle {
    color: white;
  }

  .SearchResultExcerpt {
    display: block;
    font-size: .875em;
    color: mix($blue-light, $blue-dark, 30%);
  }

  &:hover .SearchResultExcerpt {
    color: mix(white, $blue, 70%);
  }
}
