@charset "utf-8";

@import "normalize";

body {
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  margin: 0;
  color: #545454;
  line-height: 1.4em;
}

a {
  color: #23a6d5;
  text-decoration: none;
}

@import "base";
@import "article";
@import "nav";
@import "table";
@import "hightlight";
