@charset "utf-8";

@import "normalize";
@import "variables";
@import "mixins";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Lato";
  font-size: 1em;
  color: $font-color-body;
  font-family: $font-stack-body;
  background: white;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: mix($blue, black, 70%);
  }
}

strong a {
  display: inline-block;
  line-height: 1.8em;
  border-radius: 0.9em;
  padding: 0 22px;
  border: 1px solid $blue;
  background: $blue;
  color: white;
  font-weight: normal;
  transition: all .15s ease-in-out;

  &:hover {
    color: $blue;
    background: $blue-light;
  }
}

h3 {
  color: $blue;
  margin: 1em 0 .3em;
  font-size: 1.2em;
}

@import "constants";
@import "syntax";
@import "base";
@import "navigation";
@import "menu";
@import "endpoints";
@import "search";
