@charset "utf-8";

@import "normalize";

body {
  font-family: Lato;
  margin: 0;
  color: #545454;
  line-height: 1.4em;
}
.Header {
  padding: 20px 0;
}
.Wrapper {
  width: 1180px;
  margin: 0 auto;
}
.Main {
  position: relative;
  background: white;
  padding: 0 0 0 200px;
  margin: 0 auto 4em;
  border-radius: 8px;
  border: 2px solid #23a6d5;
}
.Nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  border-right: 1px solid #63bcdc;
  padding: 15px 0 0;
}
.NavHeading {
  font-size: .70em;
  font-weight: bold;
  text-transform: uppercase;
  color: #23a6d5;
  margin: 0;
  padding: 5px 10px;
}
.Nav ul {
  list-style: none;
  padding: 0 0;
  margin: 0 20px 20px 0;
}
.Nav a {
  display: block;
  text-decoration: none;
  padding: 1px 10px;
  margin: 0 0 2px;
  color: #707070;
  font-size: .75em;
  border-radius: 0 4px 4px 0;
}
.Nav a:hover {
  background: #f2f2f2;
}
.Nav a.Current {
  background: linear-gradient(to right, #23a6d5, #22d6d6);
  color: white;
}
.ArticleHeader {
  padding: 20px 40px;
  border-bottom: 1px solid #63bcdc;
  color: #23a6d5;
  background: #f0f9fc;
}
.ArticleHeader h1, .ArticleHeader p {
  max-width: 680px;
}
.ArticleContent {
  max-width: 680px;
  padding: 20px 40px;
}
