<footer class="Footer">
  © <%= Time.now.year %> Omise, Co. Ltd.
  <a href="https://www.omise.co/">About</a>
  <a href="https://www.omise.co/terms.html">Terms</a>
  <a href="https://www.omise.co/privacy.html">Privacy</a>
</footer>
