---
title: Account
---

## Table of Contents

  - [The account object](#the-account-object)
  - [Retrieving the account](#retrieving-the-account)

---

## The Account Object

| Parameter | Value |
|:----------|:------|
| `object`  | *(string)* 'account' |
| `id`| *(string)* Account ID |
| `email` | *(string)* Registration email |
| `created` | *(datetime, format: [iso8601](http://en.wikipedia.org/wiki/ISO_8601))* Creation date of the account |

---

## Retrieving the Account

**Endpoint**

```
GET https://api.omise.co/account
```

<div class='Notice'>
  It may be interesting to note that both Test and Live keys will return the same account.
</div>

### Request parameters

None

### Curl

```sh
curl https://api.omise.co/account \
  -u skey_test_4xs8breq3htbkj03d2x:
```

### Ruby

```ruby
account = Omise::Account.retrieve

# After retrieving it, the account can be refreshed:
account.reload
```

### Python

```python
account = omise.Account.retrieve()

# After retrieving it, the account can be refreshed:
account.reload()
```

### C&#35;

```c#
var account = client.AccountService.GetAccount();
```

### PHP

```php
$account = OmiseAccount::retrieve();

# After retrieving it, the account can be refreshed:
$account->reload();
```

### JSON Response

```json
{
  "object": "account",
  "id": "acct_4xs8bre8a8vhrgijcjg",
  "email": null,
  "created": "2014-10-20T08:21:42Z"
}
```
