---
title: Omise Artwork
excerpt: Omise logos and image seals that can be used on your website.
---

The following images and logos can be added to your website, such as in a checkout page.  
They can be loaded directly from Omise CDN, but cannot be edited in any means.

<div class="artwork">
<h2>Powered by Omise</h2>
<div class="image"><img src="https://cdn.omise.co/artwork/powered_by_omise.png"></div>
<div class="image"><img src="https://cdn.omise.co/artwork/powered_by_omise_bordered.png"></div>
<h2>Secured by Omise</h2>
<div class="image"><img src="https://cdn.omise.co/artwork/secured_by_omise_v2.png"></div>
<div class="image"><img src="https://cdn.omise.co/artwork/secured_by_omise.png"></div>
<div class="image"><img src="https://cdn.omise.co/artwork/secured_by_omise_bodered.png"></div>
<h2>SVG Formats</h2>
<div class="image"><img src="https://cdn.omise.co/artwork/secured_by_omise_v2.svg"></div>
<div class="image"><img src="https://cdn.omise.co/artwork/secured_by_omise.svg"></div>
</div>
